<div class="modal-header">
  <h1 class="modal-title" id="modal-title">{{$modalCtrl.ticket.TicketInfo.Name}}</h1>
</div>
<div class="modal-body" id="modal-body">
    <p class="modal-image-description" ng-show="!$modalCtrl.showingFullDescription">{{$modalCtrl.ticket.TicketInfo.DescriptionList[0].Value | maxDescriptionSize:$modalCtrl.maxDescriptionSize }}<span ng-show="$modalCtrl.ticket.TicketInfo.DescriptionList[0].Value.length > $modalCtrl.maxDescriptionSize && !$modalCtrl.showingFullDescription" ng-click="$modalCtrl.showFullDescription()"> See more</span></p>
    <p class="modal-image-description" ng-show="$modalCtrl.showingFullDescription">{{$modalCtrl.ticket.TicketInfo.DescriptionList[0].Value}}<span ng-show="$modalCtrl.showingFullDescription" ng-click="$modalCtrl.showFullDescription()"> [-]</span></p>
    <uib-tabset class="modal-tabs" active="active">
        <uib-tab index="0" heading="Tickets Info">
          <br>
          <p><strong>From:</strong> {{$modalCtrl.dateFrom}} - <strong>To</strong>: {{$modalCtrl.dateTo}} ({{$modalCtrl.daysDifference}} day<span ng-show="$modalCtrl.daysDifference > 1">s</span>)</p>
          <p ng-show="$modalCtrl.ticket.AvailableModality.length > 1">Click on the ticket name to see more infos.</p>
          <ul class="list-unstyled">
            <li class="modal-ticket-available" ng-repeat="ticketAvailable in $modalCtrl.ticket.AvailableModality track by $index">
              <h2 ng-click="$modalCtrl.changeTicketVisibility($index)"><i ng-show="$modalCtrl.showTicketsInfo[$index]" class="glyphicon glyphicon-chevron-down"></i><i ng-show="!$modalCtrl.showTicketsInfo[$index]" class="glyphicon glyphicon-chevron-right"></i> {{ticketAvailable.Name}}</h2>
              <div ng-show="$modalCtrl.showTicketsInfo[$index]">
                <p><i class="glyphicon glyphicon-user"></i> Mode: {{ticketAvailable.Mode.Value}} // Type: {{ticketAvailable.Type.Value}}</p>
                <h3><i class="glyphicon glyphicon-usd"></i> Price List</h3>
                <table class="table table-hover">
                  <tr>
                    <th>Category</th>
                    <th>Amount</th>
                  </tr>
                  <tr ng-repeat="ticketType in ticketAvailable.PriceList">
                    <td>{{ticketType.Description}}</td>
                    <td>{{ticketType.Amount}} <span ng-show="ticketType.Amount > 0">{{$modalCtrl.ticket.Currency.Code}}</span></td>
                  </tr>
                </table>
                <h3><i class="glyphicon glyphicon-calendar"></i> Date List</h3>
                <table class="table table-hover">
                  <tr>
                    <th>Date</th>
                    <th>Maximum Duration</th>
                    <th>Minimum Duration</th>
                  </tr>
                  <tr ng-repeat="ticketOperationDateList in ticketAvailable.OperationDateList">
                    <td>{{ticketOperationDateList.Date}}</td>
                    <td>{{ticketOperationDateList.MaximumDuration}}</td>
                    <td>{{ticketOperationDateList.MinimumDuration}}</td>
                  </tr>
                </table>
              </div>
            </li>
          </ul>
        </uib-tab>
        <uib-tab index="1" heading="Photos">
          <img class="img-thumbnail" ng-repeat="ticket in $modalCtrl.ticket.TicketInfo.ImageList" ng-src="{{ticket.Url}}" ng-if="$odd" ng-click="$modalCtrl.openImageModal(ticket.Url)"></img>
        </uib-tab>
    </uib-tabset>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="$modalCtrl.cancel()">Close</button>
</div>
