<nav class="navbar navbar-blue">
  <a class="navbar-brand navbar-title">
    Tickets@Search
  </a>
  <a class="navbar-brand navbar-right">
    <div class="navbar-user" ng-controller="loginCtrl as $loginCtrl" ng-show="$loginCtrl.isAuthenticated()">
        <p>Welcome, {{$loginCtrl.user}}!<span ng-click="$loginCtrl.logout()"> // Logout</span></p>
    </div>
  </a>
</nav>
