<div class="list">
  <div class="search" ng-include="'templates/search.html'"></div>
  <div class="tickets">
    <div ng-show="$listCtrl.tickets.length > 0">
      <p>Wee! {{$listCtrl.tickets.length}} tickets found.</p>
      <form class="form-inline">
        <div class="form-group">
          <label for="ticketsPPage">Display per page: </label>
          <select id="ticketsPPage" class="form-control" ng-model="$listCtrl.ticketsPerPageSelected" ng-change="$listCtrl.changeQtPerPage()">
            <option ng-repeat="quantity in $listCtrl.ticketsPerPage track by $index">{{quantity}}</option>
          </select>
        </div>
      </form>
    </div>
    <br>
      <article class="ticket-info" ng-repeat="ticket in $listCtrl.ticketsPage | limitTo:quantityPerPage track by $index" ng-click="$listCtrl.openTicketModal(ticket)">
        <h1>{{ticket.TicketInfo.Name}}</h1>
        <p>{{ticket.TicketInfo.DescriptionList[0].Value}}</p>
        <div class="ticket-thumbnail-box">
          <img class="ticket-thumbnail" ng-repeat="ticketImage in ticket.TicketInfo.ImageList" ng-src="{{ticketImage.Url}}" ng-if="$odd"></img>
        </div>
      </article>
    <div class="tickets-button-page">
      <p ng-show="$listCtrl.tickets.length > 0">Showing {{$listCtrl.initTicketList}} - {{$listCtrl.endTicketList}}</p>
      <button class="btn btn-page btn-sm" ng-repeat="button in $listCtrl.getArrayFromValue($listCtrl.totalPages) track by $index" ng-disabled="$listCtrl.actualPage === $index" ng-click="$listCtrl.createTicketList($index)">{{$index}}</button>
    </div>
  </div>
</div>
