<div class="login">
  <form name="loginForm" ng-controller="loginCtrl">
    <div class="form-group">
      <h1>Your account</h1>
      <div class="form-group has-feedback has-feedback-left">
        <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
        <input type="email" name="emailInput" class="login-item form-control" ng-model="$loginCtrl.user.email" placeholder="e-mail" required>
      </div>
      <div class="form-group has-feedback has-feedback-left">
        <input type="password" name="password" class="login-item form-control" ng-model="$loginCtrl.user.password" placeholder="password" required>
        <i class="glyphicon glyphicon-lock form-control-feedback"></i>
      </div>
      <button class="btn btn-page btn-block" ng-disabled="$loginCtrl.isRequesting" ng-click="$loginCtrl.checkCredentials(user)">Login</button>
    </div>
    <p ng-show="(loginForm.emailInput.$error.required && !loginForm.password.$error.required) && loginForm.emailInput.$dirty" class="alert alert-danger">Your e-mail is required.</p>
    <p ng-show="(loginForm.password.$error.required && !loginForm.emailInput.$error.required) && loginForm.password.$dirty" class="alert alert-danger">Your password is required.</p>
    <p ng-show="(loginForm.password.$error.required && loginForm.emailInput.$error.required) && (loginForm.emailInput.$dirty || loginForm.password.$dirty)" class="alert alert-danger">Your e-mail and password are required.</p>
    <p ng-show="loginForm.emailInput.$error.email && loginForm.emailInput.$dirty" class="alert alert-danger">Your e-mail is invalid.</p>
    <p ng-show="$loginCtrl.isAuthError" class="alert alert-danger">{{$loginCtrl.authMessage}}</p>
    <div class="loading-bar" ng-show="$loginCtrl.isRequesting"><p>Signing</p></div>
  </form>
</div>
