    <h1><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Find Tickets</h1>
    <form name="searchForm" ng-controller="searchCtrl as $searchCtrl">
      <div class="input-group">
        <label for="destination">Destination</label>
        <input id="destination" type="text" class="form-control" placeholder="Your destination" ng-model="$searchCtrl.search.destination" required/>
      </div>
      <div class="input-group">
        <label for="dateFrom">Date From</label>
        <input id="dateFrom" type="text" class="form-control" uib-datepicker-popup="{{$searchCtrl.format}}" ng-model="$searchCtrl.dateFrom" is-open="$searchCtrl.popupDate.dateFrom" datepicker-options="$searchCtrl.dateOptionsFrom" ng-required="true" ng-click="$searchCtrl.openPopupDF()" close-text="Close"required/>
      </div>
      <div class="input-group">
        <label for="dateTO">Date To</label>
        <input id="dateTO" type="text" class="form-control" uib-datepicker-popup="{{$searchCtrl.format}}" ng-model="$searchCtrl.dateTO" is-open="$searchCtrl.popupDate.dateTO" datepicker-options="$searchCtrl.dateOptionsTO" ng-required="true" ng-click="$searchCtrl.openPopupDT()" close-text="Close" required/>
      </div>
      <div class="search-form-row-2">
        <div class="form-group">
          <label for="qtAdults">Language</label>
          <select id="qtAdults" class="form-control" ng-init="$searchCtrl.search.language = 'ENG'" ng-model="$searchCtrl.search.language" required>
            <option ng-repeat="language in $searchCtrl.languages" value="{{language.Code}}">{{language.Name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="currency">Currency</label>
          <select id="currency" class="form-control" ng-init="$searchCtrl.search.currency = 'USD'" ng-model="$searchCtrl.search.currency" required>
            <option ng-repeat="currency in $searchCtrl.currencies" value="{{currency.Code}}">{{currency.Code}}</option>
          </select>
        </div>
      </div>
      <div class="search-form-row-1">
        <div class="form-group">
          <label for="qtAdults">Adults</label>
          <select id="qtAdults" class="form-control" ng-model="$searchCtrl.search.adults" required>
            <option ng-repeat="a in $searchCtrl.getArrayFromValue($searchCtrl.maxAdults) track by $index">{{$index}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="qtChilds">Children</label>
          <select id="qtChilds" class="form-control" ng-model="$searchCtrl.search.children" ng-change="$searchCtrl.changeArrayChildrenAgeSize()" required>
            <option ng-repeat="a in $searchCtrl.getArrayFromValue($searchCtrl.maxChildren) track by $index">{{$index}}</option>
          </select>
        </div>
      </div>
      <p ng-show="$searchCtrl.search.children > 0">Ages of chidren</p>
      <div class="search-children-ages">
        <select class="form-control" ng-repeat="a in $searchCtrl.getArrayFromValue($searchCtrl.search.children) track by $index" ng-model="$searchCtrl.search.childrenages[$index]" ng-init="$searchCtrl.search.childrenages[$index] = '0'">
          <option ng-repeat="a in $searchCtrl.getArrayFromValue($searchCtrl.maxChildrenAge) track by $index" value="{{$index}}">{{$index}}</option>
        </select>
      </div>
      <div ng-show="$searchCtrl.searchError" class="alert alert-danger">{{$searchCtrl.errorMessage}}</div>
      <!-- <div ng-show="apiFoundService.tickets.length" class="alert alert-danger">{{$searchCtrl.errorMessage}}</div> -->
      <button class="btn btn-block btn-find" ng-disabled="$searchCtrl.isRequesting" ng-click="$searchCtrl.findTickets(search)">Find now</button>
      <div class="loading-bar" ng-show="$searchCtrl.isRequesting"><p>Finding</p></div>
    </form>
