@input-height-base: 34px;
@input-height-small: 30px;
@input-height-large: 46px;
@padding-base-horizontal: 12px;
@grid-gutter-width: 30px;
@screen-sm-min: 768px;


.has-feedback {
  .form-control{
    padding-right: @input-height-base;
  }
  .form-control.input-sm,
  &.form-group-sm .form-control{
    padding-right: @input-height-small;
  }
  .form-control.input-lg,
  &.form-group-lg .form-control {
    padding-right: @input-height-large;
  }
}


.has-feedback-left {
  .form-control {
    padding-right: @padding-base-horizontal;
    padding-left: @input-height-base;
  }
  .form-control.input-sm,
  &.form-group-sm .form-control{
    padding-left: @input-height-small;
  }
  .form-control.input-lg,
  &.form-group-lg .form-control {
    padding-left: @input-height-large;
  }
}

.has-feedback-left .form-control-feedback {
    left: 0;
}

.form-control-feedback {
    line-height: @input-height-base !important;
}
.input-sm + .form-control-feedback,
.form-horizontal .form-group-sm .form-control-feedback {
    width: @input-height-small;
    height: @input-height-small;
    line-height: @input-height-small !important;
}
.input-lg + .form-control-feedback,
.form-horizontal .form-group-lg .form-control-feedback {
  width: @input-height-large;
  height: @input-height-large;
  line-height: @input-height-large !important;
}


.has-feedback label {
  &.sr-only ~ .form-control-feedback,
  &.sr-only ~ div .form-control-feedback {
    top: 0;
  }
}

.form-inline {
  @media (min-width: @screen-sm-min) {
    .inline-feedback {
      position: relative;
      display: inline-block;
    }

    .has-feedback .form-control-feedback {
      top: 0;
    }
  }
}

.form-horizontal {
  .has-feedback-left .form-control-feedback {
    left: (@grid-gutter-width / 2);
  }
}
