@bodyBgColor: #F2F4F6;
@navbarBgColor: #1D365D;
@navbarTextColor: #ffffff;

html,
body {
  background-color: saturate(@bodyBgColor, 12%);
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  display:-webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  font-family: 'Helvetica', sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
}

main {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  flex: 1 auto;
  -webkit-flex: 1 auto;
  flex-wrap: wrap;
}

header {
  min-height: 80px;
}

.navbar-right {
  p {
    margin-right: 30px;
  }
}

.navbar-brand:hover {
    color: #ffffff;
}

.navbar-blue, .navbar-brand {
  background-color: @navbarBgColor;
  color: @navbarTextColor;

  span:hover {
    cursor: pointer;
  }
}

.btn-page {
  color: #ffffff;
  background-color: #0896FF;
}

.btn-page:hover {
  color: #ffffff;
  background-color: #003580;
}

.btn-page:focus {
  color: #ffffff;
}
