@ticketTitleColor: #0896FF;
@ticketBorderColor: #D4DADA;
@ticketBgHover: #FDE29D;
@ticketBorderHover: #FFBC3B;

.list {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.tickets {
  margin-left: 10px;
}

.ticket-info {
  width: auto;
  max-width: 90%;
  // -webkit-flexis-basis: 15%;
  background-color: white;
  border: solid 1.5px @ticketBorderColor;
  border-radius: 6px;
  margin-bottom: 10px;

  h1 {
    color: @ticketTitleColor;
    font-size: 3.5em;
    text-align: center;
  }

  p {
    font-size: 1.3em;
  }

  h1, p {
    margin-left: 3px;
    line-height: 15px;
  }
}

.ticket-info:hover {
  background-color: @ticketBgHover;
  border-color: @ticketBorderHover;
  cursor: pointer;
}

.tickets-button-page {
  button {
    margin-left: 2px;
    margin-bottom: 10px;
  }
}

.ticket-thumbnail-box {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding: 5px;
}

.ticket-thumbnail {
  margin-left: 10px;
  border-radius: 6px;
}

@media only screen and (max-width: 650px) {

  header {
    .navbar {
      height: 80px;
    }

    .navbar-brand {
      top: -30px;
      margin-top: -10px;
    }

    p:hover {
      color: #fffffff;
    }
  }

  .list {
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
  }

  .search {
    margin-top: 10px;
  }

  .tickets {
    margin-top: 10px;
  }

}
