@loadingBgColor: #003580;
@loadingTextColor: #ffffff;

.loading-bar {
  display: flex;
  display: -webkit-flex;
  width: auto;
  height: auto;
  padding: 12px;
  background-color: @loadingBgColor;
  color: @loadingTextColor;
  border-radius: 6px;
  font-size: 2em;
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 1000;
  transform: translate(-50%, -50%);

  :after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026";
    width: 0px;
  }
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
