@loginBgColor: #ffffff;

.login {
  min-height: 200px;
  height: auto;
  width: 330px;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  background-color: @loginBgColor;
  border: solid 2px @loginBgColor;
  border-radius: 6px;
  font-size: 1.5em;

  h1 {
    font-size: 3em;
    text-align: center;
  }

  input:hover {
    transition: opacity 0.5s;
    opacity: 0.4;
  }
}

.login-item {
  margin-bottom: 15px;
}
