@titleColor: #0896FF;
@linkColor: #0000FF;
@iconColor: #1D365D;

.modal-title {
  text-align: center;
  color: #0896FF;
}

.modal-header {
  h1 {
    font-size: 4.5em;
  }
}

.modal-body {
  p {
    font-size: 1.24em;
  }
}

.modal-image-description {
  font-size: 1.7em;

  span {
    font-size: 1.3em;
    color: @linkColor;
    font-style: italic;
  }

  span:hover {
    cursor: pointer;
  }
}

.img-thumbnail {
  margin: 5px;
  border-radius: 3px;
}

.img-thumbnail:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal-image {
  background-color: transparent;
  width: auto;
  height: auto;
  top: 30%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  border: solid 1px #D4DADA;
}

.modal-tabs {
  font-size: 2em;
}

.modal-icon-color {
  color: @iconColor;
}

.modal-ticket-available {
  h2 {
    font-size: 1.4em;
    color: @iconColor;
  }
  h2:hover {
    cursor: pointer;
    color: @linkColor;
  }

  h3 {
    font-size: 1.2em;
    text-align: center;
    color: @iconColor;
  }

  p {
    font-size: 1em;
    text-align: center;
  }

}
