@searchBgColor: #FFC851;
@searchTextColor: #003580;
@btnColor: #0896FF;
@btnHoverColor: #003580;

.search {
  width: auto;
  min-width: 290px;
  height: 55%;
  min-height: 450px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  background-color: @searchBgColor;
  border: solid 5px @searchBgColor;
  border-radius: 7.2px;
  box-shadow: 3px 2px 2px #888888;
  font-size: 1.5em;
  color: @searchTextColor;
  margin-left: 10px;

  label {
    width: 50px;
  }

  div {
    margin-bottom: 10px;
  }
}

.search-form-row-1 {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: center;
  -webkit-align-items: center;
  text-align: center;
}

.search-form-row-2 {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}

.search-children-ages {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  margin-top: 5px;
  max-width: 250px;

  select {
    width: 40px;
    margin-left: 8px;
    margin-bottom: 5px;
  }
}

.btn-find {
  margin-bottom: 7px;
  color: #ffffff;
  background-color: @btnColor;
}

.btn-find:hover {
  color: #ffffff;
  background-color: @btnHoverColor;
}

.btn-find:focus {
  color: #ffffff;
}
